name: dvpn-node

on:
  push:
    branches:
      - main
    paths:
      - .sentinelnode/**
      - cdk/**
      - Dockerfile
  workflow_dispatch:

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

env:
  python_version: "3.12"
  node_version: "20"

jobs:
  cdk:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        region:
          - eu-west-3
          - eu-north-1
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set environment variables
        run: |
          echo "role_to_assume=arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/${{ github.workflow }}" >> ${GITHUB_ENV}
          echo "aws_account_id=${{ env.AWS_ACCOUNT_ID }}" >> ${GITHUB_ENV}
          echo "api_port=${{ env.API_PORT }}" >> ${GITHUB_ENV}
          echo "v2ray_port=${{ env.V2RAY_PORT }}" >> ${GITHUB_ENV}
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.python_version }}
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.node_version }}
      - name: Install CDK
        run: |
          npm install --global aws-cdk
      - name: Install Python dependencies for CDK initialize
        working-directory: ./cdk
        run: |
          python -m pip install --upgrade pip
          python -m pip install --requirement requirements.txt
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ matrix.region }}
          role-to-assume: ${{ env.role_to_assume }}
      - name: (CDK) Initialize ECR
        working-directory: ./cdk/initialize
        run: |
          cdk bootstrap aws://${{ env.aws_account_id }}/${{ matrix.region }}
          cdk deploy
        env:
          AWS_ACCOUNT_ID: ${{ env.aws_account_id }}
          AWS_REGION: ${{ matrix.region }}
          REPOSITORY_NAME: ${{ github.workflow }}
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Docker Build Push
        uses: docker/build-push-action@v5
        with:
          context: .
          provenance: false
          push: true
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/${{ github.workflow }}:latest
            ${{ steps.login-ecr.outputs.registry }}/${{ github.workflow }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: (CDK) Update ECS
        working-directory: ./cdk/update
        run: |
          cdk bootstrap aws://${{ env.aws_account_id }}/${{ matrix.region }}
          cdk deploy
        env:
          AWS_ACCOUNT_ID: ${{ env.aws_account_id }}
          AWS_REGION: ${{ matrix.region }}
          CLUSTER_NAME: ${{ github.workflow }}
          REPOSITORY_NAME: ${{ github.workflow }}
          IMAGE_TAG: ${{ github.sha }}
          API_PORT: ${{ env.api_port }}
          V2RAY_PORT: ${{ env.v2ray_port }}
